# Компилированные файлы Java
*.class

# Папки сборки
/bin/
/out/
/build/

# Файлы настроек IDE
/.idea/
/*.iml
/.vscode/

# Логи и временные файлы
*.log
*.tmp
*.swp

# Файлы операционной системы
.DS_Store
Thumbs.db
